.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  display: flex !important;
}

.navbar-collapse {
  display: flex !important;
  flex-basis: auto !important;
  flex-grow: 1 !important;
  align-items: center !important;
}

.navbar-nav {
  flex-direction: row !important;
  margin-left: auto!important;
  display: flex !important;
  -ms-flex-direction: column !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
  list-style: none !important;
}